*.iso
*.iso.sha*
*.log
*.qcow2
*.swp
*template.nix*
.direnv/*
.ruff_cache
.tmp/
flake.lock.old
flake.lock.shasum
missing-result*
nixos-configuration/modules/wg-vpn/*.priv
result*
scripts/nix-ci/__pycache__/
