name: Canary Build
on:
  workflow_dispatch:
  schedule:
    - cron: '30 * * * *' # Hourly

jobs:
  canary-build:
    name: Canary build
    runs-on: ubuntu-latest
    steps:
      - run: TZ='Asia/Kolkata' date +'%Y/%m/%d %H:%M:%S'

      - uses: actions/checkout@main

      - name: Setting up QEMU User Emulation
        run: |
          sudo apt-get update
          sudo apt-get install --yes binfmt-support qemu-user-static

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: "extra-platforms = aarch64-linux riscv64-linux x86_64-linux"

      - name: Update lockfile
        run: |
          git checkout -b canary-build
          curl 'https://files.thefossguy.com/flake.lock' -o flake.lock
          git config --global user.email "githubactions@github.com"
          git config --global user.name "GitHub Actions"
          git add flake.lock
          git status
          git commit -m 'update the flake lockfile'
          curl 'https://files.thefossguy.com/flake.lock.shasum' -o flake.lock.shasum
          cat flake.lock.shasum
          shasum --check flake.lock.shasum
          nix flake archive

      - name: Running the CI
        run: |
          python3 ./scripts/nix-ci/builder.py \
              --nixosConfigurations --homeConfigurations --devShells --packages \
              --evaluate-outPaths --github-ci-shortcut --no-print-missing-paths \
              --exclusive-nix-system-x86_64-linux --exclusive-nix-system-aarch64-linux
